*{
    font-family: 'Roboto', sans-serif;
    color: #4e4146;
}
.btn-hover {
    text-decoration: none;
    text-align: left;
}
.btn-hover:hover {
    background-color: rgb(0, 132, 255);
    color: white;
    text-decoration: none;
    text-align: left;
}
.socialmedia {
    display: flex;
    justify-content: center;
}
.circle-fb {
    color: #3b5999;
}
.circle-twt {
    color: #55acee;
}
.circle-insta {
    color: #e4405f;
}
.header-bg{
    background-color: #6E3A3C;
}
.footer-bg{
    background-color: #6E3A3C;
}

.parrafo{
    font-size: .95em;
}
.btn, 
.btn-link, 
.btn-hover {
    background-color: #fdebb4;
    color:  #6E3A3C;
}
.btn:hover, 
.btn-link:hover, 
.btn-hover:hover {
    color: #fdebb4;
    background-color:  #6E3A3C;
} 
.nav-bg{
    background-color: #978f8c;
}